body {
    background-image: url('image3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
h2 {
    margin-top: revert;
}
.class1 {
    background-color: #abbef3;
}
.class1:hover {
    background-color: #767e96;
}
.headerlink {
    color: rgb(12, 12, 12);
    
}

.btn2 {
    width: 357px;
    margin: 0 20px;
    padding: 15px 0;
    text-align: center;
    float: left;
    cursor: pointer;
    background: #abbef3;
    position: relative;
    border-radius: 5px;
  }
  
  .btn2 p {
    color: #8d8888;
    font-weight: 900;
    font-size: 14px;
    text-transform: uppercase;
  }
  
  .BorderTopBottom:before {
    content: "";
    position: absolute;
    width: 50px;
    height: 3px;
    top: -6px;
    left: -7px;
    background: #8d8888;
    transition: all 0.5s ease;
  }
  
  .BorderTopBottom:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 3px;
    bottom: -6px;
    right: -7px;
    background: #8d8888;
    transition: all 0.5s ease;
  }
  
  .BorderLeftRight:before {
    content: "";
    position: absolute;
    top: -4px;
    left: -7px;
    width: 3px;
    height: 25px;
    background: #8d8888;
    transition: all 0.5s ease;
  }
  
  .BorderLeftRight:after {
    content: "";
    position: absolute;
    bottom: -4px;
    right: -7px;
    width: 3px;
    height: 25px;
    background: #8d8888;
    transition: all 0.5s ease;
  }
  
  .btn2:hover .BorderTopBottom:before,
  .btn2:hover .BorderTopBottom:after {
    width: 184px;
    transition: all 0.5s ease;
  }
  
  .btn2:hover .BorderLeftRight:before,
  .btn2:hover .BorderLeftRight:after {
    height: 57px;
    transition: all 0.5s ease;
  }
  